@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES ----------*/
$sm-font: 1.2rem;
$med-font: 1.6rem;
$lg-font: 4.2rem;
$sm-img: 200px;
$lg-img: 225px;
$big: 600px;
/*colors*/
$font-color: #333;
$border-specs: 1.5px solid #d0d0d0;
$dec: #666;
$hov: #00ddff;
$act: #deb887;

/* MIXINS --------------*/
@mixin flex-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@mixin article-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  align-items: baseline;
  margin-top: -20px;
}
/*-----------------------*/

body {
  margin: 0 auto;
  max-width: 725px;
  font-family: Helvetica, Arial, sans-serif;
  color: $font-color;
  font-weight: 600;
}
h1,
h2,
li,
.post-date {
  font-family: "Lora", serif;
}
h1 {
  font-size: $lg-font;
  text-align: center;
  padding: 40px 0;
}
h2 {
  font-size: $med-font;
}
.post-date {
  font-size: $med-font;
  text-transform: uppercase;
  text-align: right;
  border-bottom: $border-specs;
  padding: 50px 15px 15px;
}
section {
  padding: 30px 15px 15px 15px;
}
p {
  font-weight: 600;
  line-height: $sm-font;
}
/*Nesting*/
h1 a {
  color: $font-color;

  &:hover {
    color: $font-color;
  }
}
/*Nesting*/
a {
  text-decoration: none;
  color: $dec;
  &:hover {
    color: $hov;
    &:active {
      color: $act;
  }
 }
}

nav {
  border-top: $border-specs;
  border-bottom: $border-specs;
}
li {
  text-transform: uppercase;
  list-style-type: none;
  text-align: center;
  font-size: $sm-font;
  font-weight: 500;
  padding: 10px;
}
figure {
  text-align: center;
  padding: 20px;
}
img {
  width: $lg-img;
}

/*--------LARGE VIEW-------*/
@media only screen and (min-width: $big) {
  ul {
    @include flex-cont;
    justify-content: right;
  }
  nav {
    margin-bottom: 15px;
  }
  article {
    @include article-grid;
  }
  img {
    width: $sm-img;
  }
  .post-date,
  h2 {
    font-size: 1.5rem;
    border-bottom: none;
  }
  section {
    padding: 30px 5px 25px 15px;
    border-bottom: $border-specs;
    border-left: $border-specs;
  }
}
