@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Cabin&family=Love+Ya+Like+A+Sister&display=swap');

$fonts-headline: 'Bungee Inline', cursive;
$fonts-subhead: 'Love Ya Like A Sister', cursive;
$fonts-body: 'Cabin', sans-serif;
$background-color: #3cb5c2;
$primary: #f58b47;
$accent1: #f5ce4d;
$accent2: #3cb5c2;
$accent3: #27678f;
$accent4: #5a9e65;
$grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: #333;
$text-light: #fff;
