@use 'variables' as *;
@use 'atoms';

/* boxes grow */
.wrapper:hover, .explanation:hover, .participation:hover, .benefits:hover, .requirements:hover {
    @include change-blue;
    max-width: 42.5rem;
    
    @include breakpoint(desktop) {
      max-width: 72rem;
    } 
  }
  .wrapper:hover p, .explanation:hover p, .participation:hover p, .benefits:hover p, .requirements:hover p {
    @include breakpoint(desktop) {
      max-width: 40rem;
    } 
  }
  .wrapper:hover {
    background: $navy url("images/camper.png") no-repeat left 670px top 50px;
  }
  .explanation:hover {
    background: $navy url("images/fox.png") no-repeat left 780px top 10px;
  }
  .participation:hover {
    background: $navy url("images/moose.png") no-repeat left 710px top -30px;
  }
  .benefits:hover {
    background: $navy url("images/squirrel.png") no-repeat left 740px top 30px;
  }
  .requirements:hover {
    background: $navy url("images/bigfoot.png") no-repeat left 640px top 10px;
  }

/* Swimming Fish */
.preamble p:before { 
    content: url("images/fish.png");
    position: absolute;
    top: 200px;
    right: -20px;
    animation: swim 8s linear infinite;
    @include breakpoint(tablet) {
      top: 180px;
      right: 5%;
      animation: swim 14s linear infinite;
    }
    @include breakpoint(desktop) {
      animation: swim 20s linear infinite;
    }
  }
    @keyframes swim {
      0% {
          transform: translate(10vw,-25vh) rotate(-10deg);
      }
      50% {
          transform: translate(-50vw,10vh) rotate(0deg);
      }
      100% {
          transform: translate(-100vw,5vh) rotate(15deg);
          }
  }
  /* Shooting Star */
  header h1:before {
    @include breakpoint(tablet) {
    display:block;
    width:4px;
    height:4px;
    border-radius:50%;
    background: $white;
    position: fixed;
    transform-origin:100% 0;
    animation:star 4s infinite 3s ease-in;
    animation-direction: normal;
    opacity:0;
    }
  }
  header h1:after {
    @include breakpoint(tablet) {
    content:'';
    position: absolute;
    border:2px solid $white;
    border-width:2px 150px 2px 150px; 
    border-color:transparent transparent transparent #fff;
    transform:rotate(-45deg) translate3d(1px, -1px, 0);
    transform-origin:0% 100%;
    animation:shooting 4s infinite 3s ease-out;
    animation-direction: normal;
    } 
  }
  @keyframes shooting {
    0% {
      transform:scale(1) rotate(-45deg) translate(0px, -1px);
      top: 50px;
      left: 975px;
    }
   
    100% {
      transform:scale(0) rotate(-45deg) translate(0px, -2px);
      top: 175px;
      left: 850px;
    }
  }
  @keyframes star {
    0% {
      opacity:0;
      transform:scale(0) rotate(0) translate3d(0, 0, 0);
      top: 50px;
      left: 1125px;
    }
    100% {
      opacity:0;
      transform:scale(1) rotate(0) translate3d(-300px, 300px, 0);
      top: 175px;
      left: 1000px;
    }
  }

  /* Moon */
  header h2:before {
    content: '';
    width: 40px;
    height: 40px;
    display:inline-block;
    border-radius: 50%;
    background: $white;
    position: absolute;
    top: 65px;
    left: 280px;
    box-shadow: 0 0 0 10px #ffffff40, 0 0 0 20px #ffffff20, 0 0 0 30px #ffffff10, 0 0 0 40px #ffffff00, 0 0 0 50px #ffffff00, 0 0 20px 50px #ffffff00;
    animation: moon 2s infinite linear, shine 2s 2s infinite linear;
    @include breakpoint(tablet) {
      width: 60px;
      height: 60px;
      top: 90px;
      left: 500px;
    }
    @include breakpoint(desktop) {
      width: 75px;
      height: 75px;
      top: 80px;
      left: 800px;
    }
  }
  @keyframes shine {
    0% {
      box-shadow: 0 0 0 0 #ffffff, 0 0 0 10px #ffffff40, 0 0 0 20px #ffffff20, 0 0 0 30px #ffffff10, 0 0 0 40px #ffffff00, 0 0 20px 50px #ffffff00;
    }
    100% {
      box-shadow: 0 0 0 10px #ffffff40, 0 0 0 20px #ffffff20, 0 0 0 30px #ffffff10, 0 0 0 40px #ffffff00, 0 0 0 50px #ffffff00, 0 0 20px 50px #ffffff00;
    }
  }
  /* Sun */
  footer a:before {
    content: '';
    width: 40px;
    height: 40px;
    display:inline-block;
    background: $yellow;
    border-radius: 50%;
    position: absolute;
    bottom: 580px;
    left: 200px;
    box-shadow: 0 0 0 10px #ffd81340, 0 0 0 20px #ffd81320, 0 0 0 30px #ffd81310, 0 0 0 40px #ffd81300, 0 0 0 50px #ffd81300, 0 0 20px 50px #ffd81300;
    animation: sun 2s infinite linear, beams 2s 2s infinite linear;
    z-index: -12;
    @include breakpoint(tablet) {
      width: 60px;
      height: 60px;
      bottom: 550px;
      left: 450px;
    }
    @include breakpoint(desktop) {
      width: 75px;
      height: 75px;
      bottom: 550px;
      left: 800px;
    }
  }
  @keyframes sun {
    0% {
      box-shadow: none;
    }
  }
  @keyframes beams {
    0% {
      box-shadow: 0 0 0 0 #ffd813, 0 0 0 10px#ffd81340, 0 0 0 20px #ffd81320, 0 0 0 30px #ffd81310, 0 0 0 40px #ffd81300, 0 0 20px 50px #ffd81300;
    }
    100% {
      box-shadow: 0 0 0 10px #ffd81340, 0 0 0 20px #ffd81320, 0 0 0 30px #ffd81310, 0 0 0 40px #ffd81300, 0 0 0 50px #ffd81300, 0 0 20px 50px #ffd81300;
    }
  }

  /* Racoon */
  body:before { 
   @include breakpoint(tablet) {
    position: fixed;
    content: url(images/racoon.png);
    animation: scurry 10s linear infinite;
    }
  }
  @keyframes scurry {
    0%   {bottom: 25px; right: -50px;}
    12%  {bottom: 25px; right: 455px;}
    13%  {bottom: 80px; right: 475px;}
    47%  {bottom: 80px; right: 475px;}
    50%  {bottom: 45px; right: 600px;}
    60%  {bottom: 45px; right: 1130px;}
    61%  {bottom: 80px; right: 1160px;}
    70%  {bottom: 80px; right: 1160px;}
    71%  {bottom: 70px; right: 1190px;}
    77%  {bottom: 70px; right: 1190px;}
    78%  {bottom: 40px; right: 1230px;}
    89%  {bottom: 40px; right: 1730px;}
    100% {bottom: 40px; right: 2225px;}
  }

  /* Bear on bike */
  header h2:after { 
    position: fixed;
    bottom: 30px;
    content: url(images/bear.png);
    animation: ride 6s linear infinite;
    @include breakpoint(tablet) {
      animation: ride 8s linear infinite;
    }
    @include breakpoint(desktop) {
      animation: ride 10s linear infinite;
    }
  }
    @keyframes ride {
      0% {bottom: 30px; left: -100px;}
      100% {bottom: 30px; left: 2200px;}
  }
   /* Owl */
  body:after {
    position: fixed;
    top: 125px;
    left: 5%;
    content: url(images/owl.png);
    animation: fly 4s linear infinite; 
    @include breakpoint(tablet) {
      animation: fly 6s linear infinite; 
    }
    @include breakpoint(desktop) {
      animation: fly 8s linear infinite; 
    } 
  }
  @keyframes fly {
    0% {
      transform: translate(100vw,-2vh) rotate(-30deg);    
    }
    40% {
        transform: translate(50vw,20vh) rotate(-20deg);
    }
    100% {
        transform: translate(-10vw,-2vh) rotate(10deg);
        }
  }
   /* Bigfoot */
   header:after { 
     position: fixed;
     content: url(images/smallfoot.png);
     animation: creep 10s linear infinite;
     }
   @keyframes creep {
     0%   {bottom: 35px; left: -250px;}
     10%   {bottom: 35px; left: -250px;}
     20%  {bottom: 35px; left: 30px;}
     45%  {bottom: 35px; left: 30px;}
     60%  {bottom: 35px; left: -250px;}
     100% {bottom: 35px; left: -250px;}
   }