@use 'variables' as *;

// mixins to take care of repeated patterns.

/*These base styles describe how the atoms (elements) should appear 
most of the time.  They can be overridden at the molecule (block) as necessary*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: $sky;
}
body {
  @include main-text;
  background: url(images/new.png) no-repeat center 30% fixed;
  background-size: cover;
  position: relative;
  overflow-x: hidden;
  @include breakpoint(tablet) {
    background: url(images/new.png) no-repeat center 100px fixed;
  }
}
h1 {
  @include title;
  position: absolute;
  padding-top: $standard;
  top: $s-standard;
  left: 105px;
  width: 250px;
  @include breakpoint(tablet) {
    font-size: 4rem;
    left: 105px;
    width: 800px;
  }
  @include breakpoint(desktop) {
    font-size: 5rem;
    padding-top: $s-standard;
  }
}
h2 {
  @include sub-title;
  writing-mode: vertical-lr;
  position: absolute;
  top: $lg-standard;
  left: $xl-standard;
  @include breakpoint(tablet) {
    top: $lg-standard;
    left: $xl-standard;
    font-size: 2.5rem;
  }
}
h3 {
  @include subheading;
  padding-bottom: 10px;
  @include breakpoint(tablet) {
    font-size: 2.25rem;
  }
}
/*=========Grid==============*/
.page-wrapper {
  display: grid;
  grid-template-columns: 25px 1fr 25px;
  position: relative;
}
section {
  grid-row: 1/2;
  grid-column: 1/8;
}
aside {
  grid-row: 2/3;
  grid-column: 2/8;
}
.main {
  grid-row: 3/4;
  grid-column: 2/8;
  position: relative;
}
/*==========Links====================*/
a {
  color: $yellow;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}
a:hover {
  color: $orange;
}
/*==============Header Section=================*/
header {
  position: relative;
  height: 500px;
  @include breakpoint(tablet) {
    height: 700px;
  }
}
.summary p:first-child {
  color: $orange;
  position: absolute;
  margin-left: 100px;
  top: 135px;
  width: 205px;
  @include breakpoint(tablet) {
    margin-left: 105px;
    top: 110px;
    width: 250px;
  }
  @include breakpoint(desktop) {
    top: 125px;
  }
}
.summary p:nth-child(2) {
  color: $white;
  position: absolute;
  margin-left: 95px;
  top: 235px;
  width: 174px;
  padding: 5px;
  font-size: 0.9rem;
  @include breakpoint(tablet) {
    margin-left: 105px;
    top: 195px;
  }
  @include breakpoint(tablet) {
    top: 210px;
  }
}
.summary p:nth-child(2) a {
  color: $white;
  text-decoration: underline;
}
/*=========Fishing Section========*/
.preamble {
  border-top: $middle-border;
  border-bottom: $middle-border;
  background: $white url(images/pole-fish.svg) no-repeat left 45px top 30px;
  height: 490px;
  margin-top: $s-standard;
  position: relative;
  z-index: 1;
  @include breakpoint(tablet) {
    background: #ffffff url(images/pole-fish.svg) no-repeat left 70px top 30px;
    height: 380px;
  }
}
.preamble h3 {
  margin-top: 85px;
  margin-bottom: $standard;
  padding-left: 25px;
  max-width: 200px;
  @include breakpoint(tablet) {
    margin-top: 105px;
    margin-bottom: $standard;
    padding-left: 70px;
    max-width: 600px;
  }
}
.preamble p {
  color: $navy;
  padding: 0 25px;
  max-width: 45rem;
  @include breakpoint(tablet) {
    padding-left: 70px;
  }
}
/*====== Design - Archives - Resources ======*/
.wrapper {
  display: grid;
  gap: $standard;
  margin: 25px 25px 20px 0;
  background-color: $navy-half;
  padding: $standard;
  border-radius: $corners;
  max-width: 42.5rem;
  text-align: center;
  position: relative;
  z-index: 4;
  @include breakpoint(tablet) {
    display: flex;
    gap: $m-standard;
    margin-top: $m-standard;
    text-align: left;
    padding: $standard;
    max-width: 42.5rem;
  }
}
.wrapper h3 {
  font-size: 1.75rem;
}
.wrapper a,
.wrapper li {
  color: $white;
  list-style: none;
  line-height: 1.5rem;
}
/*=======Main Text Blocks Sections=======*/
.explanation,
.participation,
.benefits,
.requirements {
  line-height: 1.5rem;
  background-color: $navy-half;
  max-width: 42.5rem;
  margin: 0 25px 20px 0;
  padding: $standard;
  border-radius: $corners;
  position: relative;
  z-index: 2
}
.explanation p,
.participation p,
.benefits p,
.requirements p {
width: 40.3rem;
}
.requirements {
  margin-bottom: 175px;
}
/*========Footer - Bottom Section=============*/
footer a {
  color: $white;
  margin-left: 46px;
}
footer {
  position: relative;
  background: transparent url(images/sign.png) no-repeat left bottom 20px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 13px;

}
footer a:first-child {
  margin-top: 294px;
}