@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Cabin:wght@400;500;600&family=Fredericka+the+Great&display=swap');

/* Fonts */
$font-headline: 'Fredericka the Great', Arial, cursive;  /*h1*/
$font-subhead: 'Cabin Sketch', Arial, cursive;  /*h2 & h3*/
$font-body:  'Cabin', Arial, sans-serif;  /*p*/
/* Colors */
$sky: linear-gradient(0.5turn, #05173d, #1a68ad, #85eaf9);//background gradient
$navy:  #05173d;//$background-color
$med-blue: #1a68ad;//$accent1
$blue-green: #85EAF9;//$accent2
$yellow: #ffd813;//$accent3
$orange: #f4ad3e;//$accent4
$white: #ffffff;
$navy-half: rgba(30, 48, 78, 0.5);//background for body copy



/* Breakpoint Sizes - Media Queries */
$break-mobile: 599px;
$break-tablet: 600px;
$break-desktop: 1000px;
/* Media Query - Breakpoints */
@mixin breakpoint($break) {
    @if $break == desktop {
        @media (min-width: $break-desktop) { @content; }
     }
    @else if $break == tablet {
        @media (min-width: $break-tablet) { @content; }
        }
    @else if $break == mobile {
        @media (max-width: $break-mobile) { @content; }
    } @else {
        @media ($break) { @content; }
    }
}

