@use 'variables' as *; //this puts all the variables in the global namespace.
@use 'atoms';
@use 'molecules';
//@use 'organisms' as o;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: $background-color;
  padding: 5%;
}

body {
  background-color: white;
  font-family: $fonts-body;
  font-size: 85%;
  color: $text-dark;
  background-color: $accent1;
  padding: 1em;
}


