@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Cabin:wght@400;500;600&family=Fredericka+the+Great&display=swap");

/*
$navy:  #05173d;
$med-blue: #1a68ad;
$blue-green: #6effe9;
$yellow: #ffd813;
$orange: #fc7609;
$white: #fff;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-family: "Cabin", Arial, sans-serif;
  background: linear-gradient(
    0.5turn,
    #05173d,
    #1a68ad,
    hsl(188, 93%, 73%),
    #1a68ad,
    #05173d,
    #05173d
  );
  color: #05173d;
}
header {
  background-image: url("images/campingtest.png");
  background-attachment: fixed;
  height: 700px;
}
/*.scroll {
    position: initial;
    background-attachment: fixed;
    height: 450px;
    background-image: url("images/dcpl.webp");
  }
*/

h1 {
  color: white;
  font-size: 5rem;
  position: absolute;
  padding-top: 30px;
  left: 105px;
  font-family: "Fredericka the Great", Arial, cursive;
}
h2 {
  writing-mode: vertical-lr;
  position: absolute;
  top: 45px;
  left: 50px;
  color: white;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "Cabin Sketch", Arial, cursive;
}
h3 {
  color: #fc7609;
  font-size: 2.25rem;
  font-family: "Cabin Sketch", Arial, cursive;
  padding-bottom: 10px;
}
a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #933604;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}
footer a {
    color: #ffd813;

}
footer {
  display: flex;
  background-color: white;
  border-top: 5px solid #fc7609;
  border-bottom: 5px solid #fc7609;
  text-align: center;
  gap: 80px;
  padding: 40px 100px;

}
a:hover {
  border-color: #fc7609;
}
.summary p:first-child {
  color: #fc7609;
  position: absolute;
  margin-left: 105px;
  top: 120px;
  width: 250px;
}
 
.preamble {
    border-bottom: 5px solid #fc7609;
    background-color: white;
    padding: 40px 150px;
}
.summary p:nth-child(2) {
    border-top: 5px solid #fc7609;
    padding: 30px;
    background: linear-gradient(
    0.25turn,
    hsl(188, 93%, 73%),
    #1a68ad,
    #05173d
  );
  }
.explanation,
.participation,
.benefits,
.requirements {
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: 50px;
  width: 815px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 1rem;
}
/*names*/
.wrapper {
  display: flex;
  width: auto;
  gap: 200px;
  margin: 0 50px 0px 50px;
}
.wrapper a,
.wrapper li {
  color: white;
  list-style: none;
  line-height: 1.5rem;
}
.design-selection {
  grid-column: 2/3;
}
.design-archives {
  grid-column: 4/5;
}
.zen-resources {
  grid-column: 6/7;
}
/*main grid*/
/*
.main {
  display: grid;
  grid-template-rows: repeat(7, auto);
}
.explanation,
.participation,
.benefits,
.requirements {
  grid-column: 1/4;
}
*/






/* .preamble {
    &:before {
        content: "";
        position: absolute;
        width: 200px;
        height: 100px;
        background-image: url("images/bear.svg");
        background-repeat: none;
        top: 1050px;
        left: 600px;
        z-index: -10;

        animation: animal1 7s ease infinite;
    }
    &:after {
        content: "";
        position: absolute;
        width: 190px;
        height: 75px;
        background-image: url("images/bear.svg");
        top: 1900px;
        left: 0;
        z-index: -10;

        animation: animal2 10s ease infinite;
    }
}
@keyframes animal1 {
    0% {
        left: 0;
        transform: translatex(-100px);
    }
    100% {
        transform: translatex(1000px);
    }
}
@keyframes animal2 {
    0% {
        left: 0;
        transform: translatex(-100px);
    }
    100% {
        transform: translatex(1500px);
    }
}
.main {
    &:before {
        content: "";
        position: absolute;
        width: 200px;
        height: 70px;
        background-image: url("images/bear.svg");
        background-repeat: none;
        top: 800px;
        right: 100px;
        z-index: -10;
        animation: animal3 8s ease infinite;
    }

    @keyframes animal3 {
        0% {
            // left: 0;
            transform: translatex(2000px);
        }
        100% {
            transform: translatex(-2000px);
        }
    }

    &:after {
        content: "";
        position: absolute;
        width: 100px;
        height: 125px;
        background-image: url("images/bear.svg");
        background-repeat: none;
        top: 2200px;
        right: 0;
        z-index: -10;
        animation: animal4 15s ease infinite;
    }
    @keyframes animal4 {
        0% {
            // left: 0;
            transform: translatex(2000px);
        }
        100% {
            transform: translatex(-2000px);
        }
    }
}
*/
